/* loading fonts */
@font-face {
    font-family: 'DMSansBold';
    src: url('./assets/fonts/DM_Sans/static/DMSans-Bold.ttf');
}

@font-face {
    font-family: 'DMSansRegular';
    src: url('./assets/fonts/DM_Sans/static/DMSans-Regular.ttf');
}

@font-face {
    font-family: 'DMSansSemibold';
    src: url('./assets/fonts/DM_Sans/static/DMSans-SemiBold.ttf');
}

@font-face {
    font-family: 'DMSansthin';
    src: url('./assets/fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf');
}



body {
    background-image: url('./assets/images/bg-dark-theme.png');
    background-size: cover;
    background-position: center;
    color: white;
}


button {
    border: none;
    background: none;
    cursor: pointer;
}


.main {
    padding: 3% 15%;
}


.sun_icon_div {
    background-color: #2A2B37;
    padding: 8px;
    border-radius: 10px;
    text-align: center;
}



.title_and_theme_icon_section {
    display: flex;
    justify-content: space-between;
    
}


.analyze_text_section {
    text-align: center;
    margin-top: 3rem;
}

.analyze_text {
    font-family: 'DMSansBold';
    font-size: 3rem;
}


.analyze_text_real_time {
    font-family: 'DMSansBold';
    font-size: 3rem;
    margin-top: -50px;
}



.input_field_section {
    text-align: center;
    margin-top: 3rem;

}


.text_area {
    background-color: #2A2B37;
    color: #E4E4EF;
    border: 1px solid #21222C;
    width: 97%;
    padding: 1rem;
    border-radius: 0.8rem;
    resize: none;
    font-family: 'DMSansRegular';
    outline: none;
    border: 2px solid #36454F;
}



.check_boxes_div {
    display: flex;
    margin-top: 0.5rem;
}


.set_character_limit_div {
    margin-left: 1.3rem;
}


.checkbox_and_reading_time {
    display: flex;
    justify-content: space-between;
}


.sub_text {
    font-family: 'DMSansRegular';
    font-size: 0.8rem
}


.counts_section {
    display: flex;
    justify-content: space-between;
    columns: 3;
    gap: 0.6rem;
    margin-top: 1.5rem;

}


.total_char_count_div {
    background-color: #D3A0FA;
    color: black;
    width: 100%;
    height: 7rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    overflow: hidden;
}



.word_count_div {
    background-color: #FF9F00;
    color: black;
    width: 100%;
    height: 7rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    overflow: hidden;

}


.sentence_count_div {
    background-color: #FE8159;
    color: black;
    width: 100%;
    height: 7rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    overflow: hidden;

}


.count_text {
    font-family: 'DMSansBold';
    font-size: 1.6rem;
}


.type_of_count_text {
    font-family: 'DMSansRegular';
    margin-top: -20px;
}


.letter-density {
    font-family: 'DMSansSemibold';
    margin-bottom: -0.3%;
    font-size: 16px;
}


.progress_fill_container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: -2%;
}


.progress-container {
    width: 100%;
    height: 10px;
    background-color: #2A2B37;
    position: relative;
    border-radius: 2rem;

}


.progress-fill-l1 {
    width: 40%;
    height: 100%;
    background-color: #D3A0FA;
    border-radius: 2rem;
}


.progress-fill-l2 {
    width: 20%;
    height: 100%;
    background-color: #D3A0FA;
    border-radius: 2rem;
}


.progress-fill-l3 {
    width: 70%;
    height: 100%;
    background-color: #D3A0FA;
    border-radius: 2rem;
}


.progress-fill-l4 {
    width: 60%;
    height: 100%;
    background-color: #D3A0FA;
    border-radius: 2rem;
}


.progress-fill-l5 {
    width: 12%;
    height: 100%;
    background-color: #D3A0FA;
    border-radius: 2rem;
}

.progress_indicator_text {
    color: #E4E4EF;
    font-family: 'DMSansRegular';
    font-weight:lighter !important;
}


.see_more_section {
    display: flex;
    justify-content: left;
}

.arrow_down {
    margin-left: 1%;
    height: 12%;
    margin-top: 21px;
}





/* responsiveness */
/* mobile responsiveness */
@media only screen and ( max-width: 600px ) {
    .main {
        padding: 3% 3%;
    }


    .dark_theme_logo {
        width: 50%;
    }

    .sun_icon_div {
        background-color: #2A2B37;
        padding: 4px;
        border-radius: 10px;
        text-align: center;
    }
    
    .sun_icon {
        width: 60%;
    }


    .input_field_section {
        text-align: left;
        margin-top: 3rem;
    
    }    


    .text_area {
        background-color: #2A2B37;
        color: white;
        border-width: 0;
        width: 95%;
        padding: 0.5rem;
        border-radius: 0.8rem;
        resize: none;
        outline: none;
        border: 2px solid #36454F;
    
    }
    


    .checkbox_and_reading_time {
        display: block;
    }


    .check_boxes_div {
        display: block;
        margin-top: 0.5rem;
    }


    .counts_section {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    
    }

    .set_character_limit_div {
        margin-left: 0;
    }


    .total_char_count_div {
        background-color: #D3A0FA;
        color: black;
        width: 95%;
        height: 7rem;
        border-radius: 1rem;
        display: flex;
        justify-content: space-between;
        padding: 0.5rem;
        overflow: hidden;
    }

    
    .word_count_div {
        background-color: #FF9F00;
        color: black;
        width: 95%;
        height: 7rem;
        border-radius: 1rem;
        display: flex;
        justify-content: space-between;
        padding: 0.5rem;
        overflow: hidden;
    
    }
    
    
    .sentence_count_div {
        background-color: #FE8159;
        color: black;
        width: 95%;
        height: 7rem;
        border-radius: 1rem;
        display: flex;
        justify-content: space-between;
        padding: 0.5rem;
        overflow: hidden;
    
    }
    

    .progress_fill_container {
        display: flex;
        align-items: center;
        gap: 14px;
        margin-bottom: -8%;
    }


    .progress_indicator_text {
        color: #E4E4EF;
        font-family: 'DMSansRegular';
        font-size: 14px;
        font-weight:lighter !important;
    }
    
}


/* end of monile responsiveness */





/* tablet responsiveness */
@media only screen and ( min-width: 600px ) and ( max-width: 800px ) {
    .main {
        /* padding: 3% 4%; */
        padding-left: 32px;
        padding-right: 32px;

    }

    /* .analyze_text_section {
        padding-left: 32px;
        padding-right: 32px;
    } */


    /* .input_field_section {
        padding-left: 32px;
        padding-right: 32px;
    } */

}







